<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
        colors="true"
        bootstrap="vendor/autoload.php"
>
    <php>
        <env name="DATABASE_URL" value="mysql://travis@localhost/test" />
    </php>
    <testsuites>
        <testsuite name="SDM \\ Enetpulse parser">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src/</directory>
        </whitelist>
    </filter>

</phpunit>
